*{
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --verde: #4caf50;
    --cinza: #ddd;
}

h1{
    text-align: center;
}

.container{
    max-width: 50%;
    margin: 0 auto;
}
.progress-bar{
    width: 100%;
    height: 20px;
    border-radius: 10px;
    background-color: var(--cinza);
}

.progress{
    width: 0%;
    height: 100%;
    background-color: var(--verde);
    border-radius: 10px;
    transition: width 1s ease-in-out;
}

.controls{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

button{
    padding: .4rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    background-color: var(--verde);
    border: 2px solid var(--verde);
    color: white;
    cursor: pointer;
    transition: 0.4s;
}