*{
    padding: 0px;
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    /* background-image: linear-gradient(rgb(131, 29, 190), rgb(255, 255, 255)); */
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: rgb(131, 29, 190);
    width: 600px;
    padding: 15px;
    border-radius: 3px;
    height: 200px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.frase{
    padding: 15px;
    background-color: rgba(188, 102, 238, 0.562);
    margin-top: 30px;
}

.btnGerador{
    padding: 10px;
    border-radius: 3px;
    border: none;
    margin-top: 30px;
    width: 100px;
    transition: 0.2s;
    cursor: pointer;
    background-color: white;
    font-weight: bolder;
}

.btnGerador:hover{
    background-color: rgb(238, 219, 248);
}