@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: #333;
}

html, body{
    height: auto;
    min-height: 100vh;
}

html {
    background: linear-gradient(180deg, #000000 0%, #3a3a3a 100%);
}

input:focus {
    outline: none;
}

#register-container {
    max-width: 900px;
    min-height: 80vh;
    margin: 2rem auto;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.473) 0px 13px 27px -5px, 
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#register-banner {
    background: url('../img/imgFundo.jpg');
    background-size: cover;
    background-position: center;
    width: 50%;
}

#banner-layer{
    background-color: rgba(40, 41, 48, 0.521);
    height: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
}

#register-banner h1 {
    font-size: 4rem;
    margin-bottom: 1.5rem;
    color: white;
    word-spacing: 55px;
}

#register-form {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: #fdfdfd;
    width: 50%;
}

#register-form h2 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2.2rem;
}

#register-form p {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #aaa;
    font-size: 0.8rem;
}

.form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.form-control label {
    font-weight: bolder;
    margin-bottom: 1.6rem;
}

.form-control input {
    border: none;
    border-bottom: 1px solid #aaa;
    padding: .6rem 0;
}

#open-generate-password {
    font-weight: bolder;
    cursor: pointer;
}

#open-generate-password:hover {
    transition: 0.3s;
    color: #0099ff;
}

#register-form #generated-password{
    border: 1px solid #4d4d4d57;
    border-radius: 4px;
    font-weight: bold;
    font-size: 1.2rem;
    padding: .4rem;
    color: #333;
    text-align: center;
    margin-bottom: 1rem;
    display: none;
}

#register-form #generated-password p {
    color: #81D340;
    margin-bottom: 0.5rem;
}

#register-form input[type="submit"],
#generate-options button,
#copy-password {
    background-color: #81D340;
    color: white;
    opacity: .8;
    border: none;
    border-radius: 2rem;
    padding: 1rem 1.4rem;
    max-width: 150px;
    cursor: pointer;
    align-self: flex-end;
}

#register-form input[type="submit"]:hover{
    transition: 0.5s;
    background-color: #81D340;
    opacity: 1;
}


@media (max-width:950px) {

    #register-banner h1 {
        font-size: 2rem;
        word-spacing: 0;
    }

    #banner-layer {
     display: flex;
     justify-content: center;
     align-items: center;
    }

    #register-container {
        flex-direction: column;
        margin: 20px;
    }

    #register-form  {
        width: auto;
        height: auto;
    }

    #register-form h2 {
        font-size: 1.5rem;
    }

    #register-banner{
        text-align: center;
        width: auto;
        height: auto;
    }
}


/* Segunda versão */

#generate-options {
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid #ddd;
}

#generate-options .form-control {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#generate-options label {
    font-size: .8rem
}

#generate-options input[type="text"] {
    max-width: 30px;
    text-align: center;
    border: 1px solid #ccc;
}

#generate-options button {
    background-color: #0097ff;
    display: block;
    margin: 0 auto;
}

#copy-password {
    margin: 1rem auto;
    background-color: transparent;
    border: 2px solid #81D340;
    color: #81D340;
    padding: 0.5rem 1rem;
}

.hide {
    display: none;
}