@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: #333;
}

html, body{
    height: auto;
    min-height: 100vh;
}

html {
    background: linear-gradient(180deg, #ea03ff 0%, #0097ff 100%);
}

input:focus {
    outline: none;
}

#register-container {
    max-width: 900px;
    min-height: 80vh;
    margin: 2rem auto;
    display: flex;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, 
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#register-banner {
    background: url('../img/imgFundo.jpg');
    background-size: cover;
    background-position: center;
    width: 50%;
}

#banner-layer{
    background-color: rgba(25, 11, 122, 0.7);
    height: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
}

#register-banner h1 {
    font-size: 4rem;
    margin-bottom: 1.5rem;
    color: white;
    word-spacing: 50px;
}

#register-form {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: #fdfdfd;
    width: 50%;
}

#register-form h2 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2.2rem;
}

#register-form p {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #aaa;
    font-size: 0.8rem;
}

.form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.form-control label {
    font-weight: bolder;
}

.form-control input {
    border: none;
    border-bottom: 1px solid #aaa;
    padding: 0.6rem 0;
}

#generate-password {
    font-weight: bolder;
    cursor: pointer;
}

#register-form [type="submit"] {
    background-color: #81D340;
    color: white;
    opacity: 0.8;
    border: none;
    align-self: flex-end;
    padding: 1rem 1.4rem;
    border-radius: 2rem;
    max-width: 150px;
    cursor: pointer;
}

#register-form [type="submit"]:hover{
    transition: 0.5s;
    background-color: #81D340;
    opacity: 100%;
}


@media (max-width:950px) {

    #register-banner h1 {
        font-size: 2rem;
        word-spacing: 10rem;
    }

    #register-container {
        flex-direction: column;
        margin: 20px;
    }

    #register-form  {
        width: auto;
        height: auto;
    }

    #register-form h2 {
        font-size: 1.5rem;
    }

    #register-banner{
        width: auto;
        height: auto;
    }
}