@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: #333;
}

html, body{
    height: auto;
    min-height: 100vh;
}

html {
    background: linear-gradient(180deg, #ea03ff 0%, #0097ff 100%);
}

input:focus {
    outline: none;
}

#register-container {
    max-width: 900px;
    min-height: 80vh;
    margin: 2rem auto;
    display: flex;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, 
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#register-banner {
    background: url('../img/imgFundo.jpg');
    background-size: cover;
    background-position: center;
    width: 50%;
}

#banner-layer{
    background-color: rgba(25, 11, 122, 0.7);
    height: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
}

#register-banner h1 {
    font-size: 4rem;
    margin-bottom: 1.5rem;
    color: white;
    word-spacing: 50px;
}