*{
    padding: 0px;
    margin: 0px;
    font-family: 'OpenDyslexic', Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: 'OpenDyslexic';
    src: url('fontes/OpenDyslexic-Bold.otf') format('opentype');
}

textarea{
    font-family: monospace;
}

body{
    background-color: #1f1f1f;
    color: #fcac00;
    text-align: center;
    box-sizing: border-box;
}

#converterForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

label{
    margin-bottom: .5rem;
    font-weight: bold;
}

textarea, pre {
    width: 600px;
    height: 200px;
    padding: 0.6rem;
    font-size: 1rem;
    border: 2px solid #fcac00;
    border-radius: 5px;
    resize: none;
}

pre{
    height: auto;
    margin: 1.5rem auto;
    text-align: left;
}

button{
    margin-top: 0.8rem;
    font-family: monospace;
    font-weight: bolder;
    padding: 0.6rem;
    font-size: 1rem;
    border: none;
    background-color: #fcac00;
    border-radius: 5px;
}

button:hover{
    transition: .4s;
    background-color: #ffbb27;
    cursor: pointer;
}