*{
    margin: 0px;
    padding: 0px;
    font-family: monospace;
    background-color: #333;
}

.container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 5rem;
}

.clock{
    font-size: 5rem;
    font-weight: bold;
    border: 2px solid #07e212;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80px;
    color: #07e212;
}

.clock span{
    margin-right: 0.5rem;
}