*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    text-align: center;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.calculator{
    padding: 30px;
    background-image: url(img/notepad.png);
    background-position: center top;
    background-size: contain;
    background-repeat: no-repeat;
    height: 500px;
    min-width: 350px;
}

.container{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
}

.result{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

label{
    display: block;
    font-weight: bold;
}

input, select{
    border: 1px solid white;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: .6rem;
    padding: .4rem;
    width: 100%;
}

button{
    max-width: 300px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: brown;
    color: white;
    cursor: pointer;
    align-self: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

button:hover{
    background-color: rgb(91, 22, 22);
    transition: .2s;
}

input:disabled{
    border: 1px solid #ffea74;
    background-color: #fff3b2;
    color: #505050;
}


@media (max-width: 450px) {
    .calculator{
        min-width: 280px;
        padding: 15px;
    }

    .container{
        gap: 8px;
        h2{
            font-size: 18px;
        }
        height: 300px;
        margin-top: 40px;
    }

    button, label{
        font-size: 13px;
        margin: 0px;
    }
    .result{
        gap: 5px;
    }

    input, select{
        margin-bottom: .3rem;
        padding: .2rem;
    }
}